menu "Loongson common options"

config LOONGSON_COMPAT
	bool "Loongson multi-boards compatibility support"
	default n
	depends on MACH_LOONGSON
	select FIT if !SPL
	select MULTI_DTB_FIT if !SPL
	select DTB_RESELECT if !SPL
	select SPL_OF_CONTROL if SPL
	select SPL_OF_REAL if SPL
	select SPL_FIT if SPL
	select SPL_LOAD_FIT if SPL
	select SPL_MULTI_DTB_FIT if SPL
	select BOARD_TYPES

config LOONGSON_BOOT_FIXUP
	bool "Fixup Loongson boot param before boot kernel."
	default y
	depends on MACH_LOONGSON

config LOONGSON_RECOVER
	bool "Enable the featrue Recovering system from usb/mmc/sata."
	default n
	depends on MACH_LOONGSON

config LOONGSON_KEYHANDLE_FAIL_CONTINUE_BOOT
	bool "If Press-Key-Auto-Update fail, Enable the featrue to continue boot."
	default n
	depends on MACH_LOONGSON

config LOONGSON_VIDCONSOLE_NOTICE
    bool "Show Notice Under logo"
    default y

config LOONGSON_GENERAL_LOAD
    bool "Enable general_load Command"
    default n
    select CMD_UNZIP

endmenu
